### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Gradle (por si alguien lo usa en el futuro) ###
.gradle
build/

### IDEs ###
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse/STS
.project
.classpath
.factorypath
.settings/
.springBeans
.apt_generated
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

### Logs ###
*.log

### Compiled files ###
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### JVM crash logs ###
hs_err_pid*
replay_pid*
